@model IEnumerable<VmProducts>
@{
    ViewBag.Title = "ShowProducts";
}

<h2>ShowProducts</h2>

<table class="table table-striped">
    @foreach (var product in Model)
    {
        <tr>
            <td>@Html.ActionLink("Select", "ShowProductDetails", new { id = product.ProductID })</td>
            <td>@product.ProductName</td>
            <td>@product.QuantityPerUnit</td>
            <td>@product.UnitPrice</td>
        </tr>
    }
</table>